.home-container {
  height: calc(100vh - 76px);
  // height: max-content;
  // width: max-content;
}

ul {
  list-style: none;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: minmax(150px, 1fr);
  gap: 20px;
}

.m-1 {
  background-color: lightcoral;
  width: 300px;

}

.m-2 {
  background-color: lightgreen;
  overflow-wrap: break-word;
  min-width: 500px;
}

.m-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border: 5px dotted lightpink;
  border-style: solid;
  border-radius: 5px;
}

 