.toolsContainer {
  text-align: center;
  padding: 10px;
  // background-color: lightcoral;

  display: flex;
  flex-flow: column;
  max-width: max-content;
  justify-content: center;
}

.scrollerContainer {
  max-width: fit-content;
  // background: blue;
  margin: auto;
}

// #scroller { 
//   width: max-content;
//   justify-self: center;
// }

.danacont {
  justify-content: center;
  text-align: center;
}

.logsContainer {
    padding: 15px;
}

.toolBtns {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  // background-color: lightblue;
}

.addAndDelete {
  // background-color: bisque;
  display: flex;
  padding: 15px;
}

.textContainer {
  max-width: 100px;
}

.child {
  margin: 0 10px 0 10px;
}

#addBtn {

}

#delBtn {
  justify-content: center;
}
