.toolsContainer {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-flow: column;
  max-width: max-content;
  justify-content: center;
}

.scrollerContainer {
  max-width: fit-content;
  margin: auto;
}


.danacont {
  justify-content: center;
  text-align: center;
}

.logsContainer {
    padding: 15px;
}

.toolBtns {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.addAndDelete {
  display: flex;
  padding: 15px;
}

.textContainer {
  max-width: 100px;
}

.child {
  margin: 0 10px 0 10px;
}

#delBtn {
  justify-content: center;
}
